dist/
.vscode/
*.user
*.suo
*.log

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
windows/flutter/ephemeral/

src/**/build/
src/**/.dart_tool/
src/**/.flutter-plugins
src/**/.flutter-plugins-dependencies

Magicka.exe
PolygonHead.dll
MagickaPatchTool.exe
flutter_windows.dll
data/
